.materialSelect {
    width: 200px;
    padding: 10px;
    padding-top: 20px;
    height: 100%;
    border-right: 1px solid #aaa;
}
.title {
    font-size: 18px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    color: #aaa;
}
.add {
    vertical-align: sub;
    margin-left: 5px;
}
